# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Generated per-run backtest CSVs (auto-created by backtest engine)
reports/bt_*.csv
reports/rec_*.json

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
